.live-game-carousel {
    background-color: #141414;
    padding: 0.5rem 0.5rem 0 0.5rem;
    height: 100% !important;
}

.game-card-slide-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
}

.css-1f8sh1y {
    min-height: 9rem !important;
}

.css-1m9128y {
    margin-top: 1.5rem !important;
}