.live-game-carousel {
    background-color: #141414;
    padding: 0 0.5rem 0 0.5rem;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-card-slide-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 1rem 0;
}

.css-1f8sh1y {
    min-height: 9rem !important;
}

.css-1m9128y {
    margin-top: 2rem !important;
}