$jet: #34312D;
$smoky-black: #14110F;
$gray-web: #7E7F83;
$desert-sand: #D9C5B2;
$cultured: #F3F3F4;

:export {
    jet: #34312D;
    smoky-black: #14110F;
    gray-web: #7E7F83;
    desert-sand: #D9C5B2;
    cultured: #F3F3F4;
}