.navbar {
    // margin-right: 2rem;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    min-width: 8rem;
    height: 100%;
}

.hamburger-button {
    margin: 0 2rem 0 auto !important;
    border: 1px solid red !important;
}
