.navbar {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.hamburger-button {
    margin: 0 auto !important;
}