.welcome-message {
  text-align: center;
  padding: 20px;
}

.welcome-message-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  border-radius: 0.5rem;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #0056b3;
}

// Page Divider
.page-divider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.page-divider-hockey-stick {
  width: 100px;
  height: 10px;
  background-color: #fff;
}

.page-divider-puck {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 2rem;
  overflow: hidden;
}

// Mern Stack Logo
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
  width: 230px;
  border-radius: 50%;
  background-color:   rgb(112, 128, 144, 0.6);
  animation: fade-in 2s ease-in-out forwards;
  //margin-bottom: 3rem;
  //background-color:   rgb(245, 255, 250);
}

.logo-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 150px;
  border-radius: 50%;
  margin: 0.5rem;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  padding: 0.5rem;
}

.mongodb-letter {
  background-color: rgba(1,144,39, 1);
}

.mongodb-letter:hover {
  background-color: #fff;
  color: #141414
}

.express-letter {
  background-color: rgba(57,57,57, 1);
}

.express-letter:hover {
  background-color: #fff;
  color: #141414
}

.react-letter {
  background-color: rgba(97, 218, 251, 0.5);
}

.react-letter:hover {
  background-color: #fff;
  color: #141414
}

.node-letter {
  background-color: rgba(140, 200, 75, 1);
}

.node-letter:hover {
  background-color: #fff;
  color: #141414
}

.icon {
  font-size: 3rem;
}

.fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Feature Video styles
.feature-video-container {
  position: relative;
  // padding-top: 56.25%; /* 16:9 aspect ratio (for responsive scaling) */
}

.feature-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


